.pio/
.vscode/c_cpp_properties.json
.vscode/ipch
.idea/
test/tmp_pio_test_transport.cpp
test/output/
data/config.txt
include/telegram_token.h
Errors
SmartSpin_logfile.txt
*.err
.DS_Store
build/CMakeCache.txt
*.log
.DS_Store
.aider*
.env
C/Users/
/build
/managed_components
dependencies.lock
dependencies.lock.*
sdkconfig.S3release
sdkconfig.S3debug
.vscode/settings.json
*.map
graphify-out/
