.pio/
!.pio/libdeps/debug/NimBLE-Arduino/*
!.pio/libdeps/release/NimBLE-Arduino/*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
test/tmp_pio_test_transport.cpp
data/config.txt
include/telegram_token.h
Errors
SmartSpin_logfile.txt
